<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
     <context:component-scan base-package="com.ashijaingarg.prac" />
     <mvc:annotation-driven />
     
      <bean
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/views/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>
    
    	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/springmvcprac1" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<!-- Hibernate 4 SessionFactory Bean definition -->
	<bean id="hibernate4AnnotatedSessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.ashijaingarg.prac.User</value>
				<value>com.ashijaingarg.prac.model.SubCategory</value>
				<value>com.ashijaingarg.prac.model.Category</value>
				<value>com.ashijaingarg.prac.model.Product</value>
				<value>com.ashijaingarg.prac.model.AppUser</value>
				<value>com.ashijaingarg.prac.model.Cart</value>
				<value>com.ashijaingarg.prac.model.CartItem</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create-drop</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	
	<bean id="userDaoImpl" class="com.ashijaingarg.prac.UserDaoImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="userService" class="com.ashijaingarg.prac.UserService">
		<property name="userDaoImpl" ref="userDaoImpl"></property>
	</bean>	
	<bean id="categoryDaoImpl" class="com.ashijaingarg.prac.dao.CategoryDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="categoryService" class="com.ashijaingarg.prac.service.CategoryService">
		<property name="categoryDaoImpl" ref="categoryDaoImpl"></property>
	</bean>
	<bean id="subCategoryDaoImpl" class="com.ashijaingarg.prac.dao.SubCategoryDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="subCategoryService" class="com.ashijaingarg.prac.service.SubCategoryService">
		<property name="subCategoryDaoImpl" ref="subCategoryDaoImpl"></property>
		<property name="categoryDaoImpl" ref="categoryDaoImpl"></property>
	</bean>
	<bean id="productDaoImpl" class="com.ashijaingarg.prac.dao.ProductDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="productService" class="com.ashijaingarg.prac.service.ProductService">
		<property name="subCategoryDaoImpl" ref="subCategoryDaoImpl"></property>
		<property name="productDaoImpl" ref="productDaoImpl"></property>
	</bean>
	<bean id="appUserService" class="com.ashijaingarg.prac.service.AppUserService">
		<property name="appUserDaoImpl" ref="appUserDaoImpl"></property>
	</bean>
	<bean id="appUserDaoImpl" class="com.ashijaingarg.prac.dao.AppUserDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="cartService" class="com.ashijaingarg.prac.service.CartService">
		<property name="cartDaoImpl" ref="cartDaoImpl"></property>
		<property name="appUserDaoImpl" ref="appUserDaoImpl"></property>
		<property name="productDaoImpl" ref="productDaoImpl"></property>
	</bean>
	<bean id="cartDaoImpl" class="com.ashijaingarg.prac.dao.CartDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager"/>
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
    
</beans>